{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}


{% block header_block %}
    <header>
        {% block header %}
            <a id="logo" href="http://localhost:8000/docs">
                LeBonCode API
            </a>
        {% endblock header %}
    </header>
{% endblock header_block %}
